  <% if @discipline.errors.any? %>
    <div id="error_explanation">
      <h2>Infelizmente não foi possível completar
          a ação pois o formulário possui os seguintes erros:</h2>

      <ul>
      <% @discipline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for(@discipline) do |f| %>
  <p>
    <%= f.label :disciplineName %><br>
    <%= f.text_field :disciplineName %>
    <%= error_tag @discipline, :disciplineName %>
</p>
  <p>
    <%= f.label :disciplineFlux  %><br>
    <%= f.text_field :disciplineFlux %>
    <%= error_tag @discipline, :disciplineFlux %>
  </p>
  <p>
    <%= f.label :disciplineTeacher %><br>
    <%= f.text_field :disciplineTeacher %>
    <%= error_tag @discipline, :disciplineTeacher %>
  </p>
  <p>
    <%= f.label :disciplineRevews %><br>
    <%= f.text_field :disciplineRevews %>
    <%= error_tag @discipline, :disciplineRevews %>
  </p>
  <p>
    <%= f.label :rating %><br>
    <%= f.text_area :rating %>
    <%= error_tag @discipline, :rating %>
  </p>
  <p>
    <%= f.submit %>
  </div>
<% end %>
