<%= form_for(@discipline) do |f| %>
  <% if @discipline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discipline.errors.count, "error") %> prohibited this discipline from being saved:</h2>

      <ul>
      <% @discipline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nome %><br>
    <%= f.text_field :disciplineName %>
  </div>
  <div class="field">
    <%= f.label :Posição  %><br>
    <%= f.text_field :disciplineFlux %>
  </div>
  <div class="field">
    <%= f.label :Professor %><br>
    <%= f.text_field :disciplineTeacher %>
  </div>
  <div class="field">
    <%= f.label :Avaliações %><br>
    <%= f.text_field :disciplineRevews %>
  </div>
  <div class="field">
    <%= f.label :Notas %><br>
    <%= f.text_area :rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
