<p id="notice"><%= notice %></p>

<h1>Listing Disciplines</h1>

<table>
  <thead>
    <tr>
      <th>N</th>Nome da Disciplina
      <th>Posição no fluxo</th>
      <th>Professor</th>
      <th>Avaliações</th>
      <th>Notas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disciplines.each do |discipline| %>
      <tr>
        <td><%= discipline.disciplineName %></td>
        <td><%= discipline.disciplineFlux %></td>
        <td><%= discipline.disciplineTeacher %></td>
        <td><%= discipline.disciplineRevews %></td>
        <td><%= discipline.rating %></td>
        <td><%= link_to 'Listar disciplinas', discipline %></td>
        <td><%= link_to 'Editar disciplina', edit_discipline_path(discipline) %></td>
        <td><%= link_to 'Excluir disciplina', discipline, method: :delete, data: { confirm: 'Tem certeza que deseja excluir a disciplina?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Disciplina', new_discipline_path %>
