<%- model_class = Mention -%>
<div class="page-header">
  <h2>Menções</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= "Nome" %></th>
      <th><%= "Disciplina" %></th>
      <th><%= "Professor" %></th>
      <th><%= "Semestre" %></th>
    </tr>
  </thead>
  <tbody>
    <% @mentions.each do |mention| %>
      <tr>
        <td><%= link_to mention.value, mention_path(mention)%></td>

        <td><%= mention.discipline.name %></td>
        <% if mention.teacher_id != nil %>
        <td><%= Teacher.find(mention.teacher_id).name%></td>
        <% else %>
        <td> Professor não cadastrado </td>
            <% end %>
            <% if mention.period_id != nil %>
        <td><%= Period.find(mention.period_id).name %></td>
            <% else %>
            <td> Período não cadastrado </td>
            <% end %>
        <td>
          <%= link_to t('.edit', :default => t("Editar")),
                      edit_mention_path(mention), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("Deletar")),
                      mention_path(mention),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Confirmar deleção da menção?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_mention_path,
            :class => 'btn btn-primary' %>
