<%- model_class = Mention -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Menção" %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= "Valor" %>:</strong></dt>
  <dd><%= @mention.value %></dd>
  <dt><strong><%= "Disciplina" %>:</strong></dt>
  <dd><%= @mention.discipline_id %></dd>
  <dt><strong><%= "Professor" %>:</strong></dt>
  <dd><%= @mention.teacher_id %></dd>
  <dt><strong><%= "Semestre" %>:</strong></dt>
  <dd><%= @mention.semester %></dd>
</dl>

<%= link_to t('.back', :default => t("Voltar")),
              mentions_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("Editar")),
              edit_mention_path(@mention), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("Deletar")),
              mention_path(@mention),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Confirmar deleção de menção?')) },
              :class => 'btn btn-danger' %>
