<h1  align="left" >Gráficos</h1>

<!---<div class="form-group">
  <div class="col-lg-5">
    <% discipline = Discipline.all %>
    <select class="form-control" id="filter-discipline" >
      <% discipline.each do |m| %>
        <option value="<%= m.name %>"> <%= m.name %> </option>
      <% end %>
    </select>
  </div>
</div>
<button class="form-group" onclick="getValueSelected()">Ok</button>
<% GraphicsHelper.build_mention %>
<!-- <h4>more informations https://google-developers.appspot.com/chart/interactive/docs/gallery/piechart#fullhtml </h4> -->

<html>
 <head>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
     google.charts.load("current", {packages:["corechart"]});
     google.charts.setOnLoadCallback(drawChartPieChart);
     google.charts.setOnLoadCallback(drawChartColumnChart);

     function getValueSelected(){
      alert(document.getElementById("filter-discipline").value);
     }

     function drawChartPieChart() {
       var data = google.visualization.arrayToDataTable([
         ['Task', 'Hours per Day'],
         ['SR',     <%= GraphicsHelper.sr %>],
         ['II',     <%= GraphicsHelper.ii %>],
         ['MI',      <%= GraphicsHelper.mi %>],
         ['MM',  <%= GraphicsHelper.mm %>],
         ['MS', <%= GraphicsHelper.ms %>],
         ['SS',    <%= GraphicsHelper.ss %>]
       ]);

       var options = {
         title: 'Gráfico de pizza',
         pieHole: 0.4,
       };

       var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
       chart.draw(data, options);
     }

     function drawChartColumnChart() {
       var data = google.visualization.arrayToDataTable([
         ["Element", "Density", { role: "style" } ],
         ["SR", <%= GraphicsHelper.sr %>, "#3366cc"],
         ["II", <%= GraphicsHelper.ii %>, "#dc3912"],
         ["MI", <%= GraphicsHelper.mi %>, "#ff9900"],
         ["MM", <%= GraphicsHelper.mm %>, "#109618"],
         ["MS", <%= GraphicsHelper.ms %>, "#990099"],
         ["SS", <%= GraphicsHelper.ss %>, "#0099c6"]
       ]);

       var view = new google.visualization.DataView(data);
       view.setColumns([0, 1,
                        { calc: "stringify",
                          sourceColumn: 1,
                          type: "string",
                          role: "annotation" },
                        2]);

       var options = {
         title: "Gráficos de barras",
         width: 600,
         height: 400,
         bar: {groupWidth: "95%"},
         legend: { position: "none" },
       };
       var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
       chart.draw(view, options);
    }

   </script>
 </head>
 <body>
   <div id="donutchart" style="width: 900px; height: 500px;"></div>
 </body>
  <body>
    <div id="columnchart_values" style="width: 900px; height: 300px;"></div>
  </body>
</html>
