<h1>Grafics</h1>
 <h4>more informations https://google-developers.appspot.com/chart/interactive/docs/gallery/piechart#fullhtml</h4>

<% sr = 0 %>
<% ii = 0 %>
<% mi = 0 %>
<% mm = 0 %>
<% ms = 0 %>
<% ss = 0 %>

<% mention = Mention.all %>

<% mention.each do |m| %>
  <% if m.value == 'SR' %>
    <% sr = sr + 1 %>
  <% end %>
  <% if m.value == 'II' %>
    <% ii = ii + 1 %>
  <% end %>
  <% if m.value == 'MI' %>
    <% mi = mi + 1 %>
  <% end %>
  <% if m.value == 'MM' %>
    <% mm = mm + 1 %>
  <% end %>
  <% if m.value == 'MS' %>
    <% ms = ms + 1 %>
  <% end %>
  <% if m.value == 'SS' %>
    <% ss = ss + 1 %>
  <% end %>
<% end %>



<% oiii = 3 %>
<html>
 <head>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
     google.charts.load("current", {packages:["corechart"]});
     google.charts.setOnLoadCallback(drawChart);
     function drawChart() {
       var data = google.visualization.arrayToDataTable([
         ['Task', 'Hours per Day'],
         ['SR',     <%= sr %>],
         ['II',     <%= ii %>],
         ['MI',      <%= mi %>],
         ['MM',  <%= mm %>],
         ['MS', <%= ms %>],
         ['SS',    <%= ss %>]
       ]);

       var options = {
         title: 'My Daily Activities',
         pieHole: 0.4,
       };

       var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
       chart.draw(data, options);
     }
   </script>
 </head>
 <body>
   <div id="donutchart" style="width: 900px; height: 500px;"></div>
 </body>
</html>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
 google.charts.load("current", {packages:['corechart']});
 google.charts.setOnLoadCallback(drawChart);
 function drawChart() {
   var data = google.visualization.arrayToDataTable([
     ["Element", "Density", { role: "style" } ],
     ["Copper", 8.94, "#b87333"],
     ["Silver", 10.49, "silver"],
     ["Gold", 19.30, "gold"],
     ["Platinum", 21.45, "color: #e5e4e2"]
   ]);

   var view = new google.visualization.DataView(data);
   view.setColumns([0, 1,
                    { calc: "stringify",
                      sourceColumn: 1,
                      type: "string",
                      role: "annotation" },
                    2]);

   var options = {
     title: "Density of Precious Metals, in g/cm^3",
     width: 600,
     height: 400,
     bar: {groupWidth: "95%"},
     legend: { position: "none" },
   };
   var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
   chart.draw(view, options);
}
</script>
<div id="columnchart_values" style="width: 900px; height: 300px;"></div>
